
 <div class="container-fluids space-left space-right" >
  <div class="main-text row pl-5">
      <div class="text-center space-up">

       <div>
         <button class="btn btn-outline-secondary new-arrivals-btn">NEW ARRIVALS</button>
       </div>
       <div class="mt-5">
         <p class="large-text fw-bold">Classic Low Bridge</p>
         <p class="large-text fw-bold">Sunglasses</p>
       </div>
       <div>
         <h3>$150</h3>
       </div>
       <div class="mt-4">
         <button class="btn btn-dark explore-btn">EXPLORE & BUY</button>
       </div>

    </div>

  </div>
  <div class="row mt-4">
    <div class="col-6" *ngFor="let product of products">
      <app-product-card [product]="product"></app-product-card>
    </div>

  </div>

  <div class="row">
    <hr class="hr">
  </div>

  <div class="row justify-content-md-center mt-5 mb-5">
    <img src="/assets/paymentcards.jpg" style="width: 800px" height="" alt="">
  </div>
</div>
