<div>
  <div class="d-flex justify-content-between space-down space-left space-right">
    <span class="DEMOSTORE">
      DEMOSTORE
    </span>
    <div>
       <span class="cart">
          <div>

          </div>
         <div style="margin-left: 20px; margin-top: 20px;">
          <div class="circle">{{ count$ | async }}</div>
         </div>

          <div >
            <img src="assets/shopping-bag1.png" alt="" style="height: 45px; width: 55px;">
          </div>
       </span>
    </div>
  </div>
</div>
