<!-- <div class="Rectangle-17913">Footer</div> -->

<div class="footer">
   <div class="d-flex justify-content-center">
      <div>
        <h2 class="fw-bold">Klarna</h2>
        <div>
          <a  class="Case-studies" href="https://www.klarna.com/us/business/case-studies/" target="_blank" rel="noopener noreferrer">Case studies</a>
        </div>
        <div>
          <a class="FAQ" href="https://www.klarna.com/demo/us/en-US/info" target="_blank" rel="noopener noreferrer">FAQ Page</a>
        </div>
      </div>
      <div style="margin-left: 40px;">
            <h2 class="fw-bold">Shoppers</h2>
            <div>
              <a href="https://www.klarna.com/us/klarna-stores/" target="_blank" rel="noopener noreferrer">Klarna stores</a>
            </div>
            <div>
              <a href="https://www.klarna.com/us/klarna-app/" target="_blank" rel="noopener noreferrer">Shopping app</a>
            </div>
      </div>
      <div style="margin-left: 40px;">
        <h2 class="fw-bold">Business</h2>
        <div>
          <a href="https://www.klarna.com/us/klarna-stores/" target="_blank" rel="noopener noreferrer">Klarna stores</a>
        </div>
        <div>
          <a href="https://www.klarna.com/us/klarna-app/" target="_blank" rel="noopener noreferrer">Shopping app</a>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: -30px">
      <img class="DEMOSTORE" src="assets/DEMOSTORE.svg" alt="">
     </div>

     <div class="row">
      <div class="d-flex justify-content-between cookies">
        <div class="left-pad mt-2">
           <h3> This-site-uses-cookies-to-improve-the-user-experience-By-your-continued-use-of-this-site-you-accept </h3>
        </div>
       <div class="right-pad mt-1">
          <button class="btn btn-light">Okay</button>
          <a class="btn learn-more">Learn more</a>
       </div>
      </div>
     </div>
</div>


